/*:root {
  --bs-navbar-bg: red; !* set the background color for the navbar to black *!
}


.bg-dark {
  background-color: grey;
}*/

.navbar-dark {
  background-color: #000000 !important;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link {
  color: #009042;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #27b547;
}

.navbar-brand img {
  max-width: 50%;
  height: auto;
}

.navbar-toggler {
  background-color: #009042;
  border-color: #27b547;
}

.dropdown-toggle {
  background-color: #000000;
  border-color: #0d9c43;
  color: #0d9c43;
}
.dropdown-toggle:hover {
  background-color: #0d9c43;
  color: #000000;
}
.dropdown-menu {
  background-color: #000000;
}
.dropdown-item {
  color: #0d9c43;
}
.dropdown-item:hover {
  background-color: #0d9c43;
  color: #000000;
}

.active{
  background-color: #0d9c43;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

/*.product-card {*/
/*  width: 100%;*/
/*  height: 400px; !* modifier la valeur selon les besoins *!*/
/*}*/

.parallax-container {
  position: relative;
  height: 50vh;
}
.parallax-item {
  position: relative;
  z-index: 1;
  background: url('../images/boxed-water-is-better-YQ4vknTXgfI-unsplash.jpg') no-repeat center center fixed;
  background-size: cover;
}



