{% extends 'base.html' %}

{% block content %}



 <h1>Panier de {{user.customer.first_name}} {{user.customer.last_name}}</h1>
  <table>
    <thead>
      <tr>
        <th>Photo</th>
        <th>Produit</th>
        <th>Prix unitaire</th>
        <th>Quantité</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
        <tr>
          <td><img src="{{order.product.image.url}}" alt="{{order.product.name}}" style="max-width: 10%; height: auto;"></td>
          <td>{{ order.product.name }}</td>
          <td>{{ order.product.unit_price }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.price }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<h3>Prix total du panier : {{ total_price }} €</h3>

<a href="{% url 'cart-delete' %}">Supprimer le panier</a>

{% endblock %}