{{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid" style="height: 90vh;">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-5">
      <div class="card border-0 shadow-lg" style="width: 100%;">
        <div class="card-header" style="background-color: #000000; color: #27b547;">
          <h4 class="text-center">Mise à jour du mot de passe terminée</h4>
        </div>
        <div class="card-body">
          {% if form.errors %}
            <p>Il y a eu une erreur lors de votre soumission. Veuillez réessayer.</p>
          {% endif %}
          <p>Votre mot de passe a été défini. Vous pouvez maintenant vous authentifier.</p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}