{% extends 'base.html' %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Matricule</th>
        <th>Prénom</th>
        <th>Nom de famille</th>
        <th>Email</th>
        <th>Nombre de clients</th>
      </tr>
    </thead>
    <tbody>
      {% for consultant in consultant_list %}
        <tr>
          <td>{{ consultant.matricule }}</td>
          <td>{{ consultant.first_name }}</td>
          <td>{{ consultant.last_name }}</td>
          <td>{{ consultant.email }}</td>
          <td>{{ consultant.num_clients }}</td>
          <td>
            <a href="{% url 'consultant-update' consultant.id %}" class="btn btn-warning">
              <i class="bi bi-pencil-fill me-2"></i>Editer
            </a>
          </td>
          <td>
            <a href="{% url 'consultant-delete' consultant.id %}" class="btn btn-danger">
              <i class="bi bi-trash-fill me-2"></i>Supprimer
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}



