{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  Welcome, {{ user.email }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a> |
  <a href="{% url 'signup' %}">Sign Up</a>
{% endif %}

<h2>Hello From Home</h2>
<h3>{{ title }}</h3>

{% if user.is_authenticated and user.is_superuser%}
    <h3>Bonjour Superuser {{user.email}}</h3>
    <
{% endif %}

{% if user.is_authenticated and user.is_employee %}
    <h3>Bonjour cher Employee {{user_full_name}}  {{user.email}}</h3>

{% endif %}
{% if user.is_authenticated and user.is_client %}
    <h3>Bonjour cher Roi-Client {{ user.user_name }} votre email {{user.email}}</h3>

    {% if consultant_full_name %}
        <p>Consultant: {{ consultant_full_name }}</p>
        <p>Email: {{ consultant_full_name.email }}</p>
        <p>Company: {{ consultant_full_name.company }}</p>
    {% endif %}


{% endif %}


{% endblock %}

