{% extends "base.html" %}
{% load static %}
{% block content %}
{%if clients%}
<div class="container-fluid text-light" style="background-color: #f8f9fa; height: 90vh;">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-8">
      <div class="card border-0 shadow-lg">
        <div class="card-header" style="background-color: #000000; color: #27b547;">
          <h4>Liste des commandes</h4>
        </div>
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Société</th>
                <th>Commande</th>
                <th>Produit</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Statut</th>
              </tr>
            </thead>
            <tbody>
              {% for client in clients %}
                {% for item in client.order_set.all %}
                  <tr>
                    {% if forloop.first %}
                      <td rowspan="{{ client.order_set.count }}">{{ client.company }}</td>
                    {% endif %}
                    <td><a href="{% url 'order-detail' pk=item.id %}">{{ item }}</a></td>
                    <td>{{ client.first_name }}</td>
                    <td>{{ client.last_name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ item.price }} €</td>

                    {% if item.ordered %}
                      <td>Commandé</td>
                    {% else %}
                      <td>En attente</td>
                    {% endif %}
                    <td>
                      <a href="{% url 'consultant-order-update' item.id %}" class="btn btn-warning" style="background-color: #009042;">
                        <i class="bi bi-pencil-fill me-2"></i>Editer
                      </a>
                    </td>
                  </tr>
                {% empty %}
                  <tr>
                    {% if forloop.first %}
                      <td rowspan="{{ client.order_set.count }}">{{ client.company }}</td>
                    {% endif %}
                    <td colspan="5">Aucune commande</td>
                  </tr>
                {% endfor %}
              {% empty %}
                <tr>
                  <td colspan="6">Aucun client pour le moment</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div>
  Aucun client pour le moment
</div>
{% endif %}
{% endblock %}




