{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid" style="height: 90vh;">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-md-5">
      <div class="card border-0 shadow-lg" style="width: 100%;">
        <div class="card-header" style="background-color: #000000; color: #27b547;">
          <h4 class="text-center">Message envoyé</h4>
        </div>
        <div class="card-body">
            <h1 class="fw-bolder align-items-center justify-content-center text-success">Merci pour votre message</h1>
            <p class="my-5 justify-content-center">Vous pouvez nous en écrire un autre via notre <a href="{% url 'contact:contact' %}">formulaire de contact</a></p>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}